fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

langchain==1.0.3
langchain-core==1.2.11
langchain-openai==1.0.1
langchain-tavily==0.2.18

langgraph==1.0.2
langgraph-prebuilt==1.0.2

python-dotenv==1.0.0
supabase==2.7.4
PyJWT==2.8.0